*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body{
   background-image: url('img2.1.jpg');
   overflow: hidden;
   

   
}
*{
    margin: 0;
    padding: 0;
    color: whitesmoke;
}
nav{
    background-color: rgb(15, 15, 16);
}
.nav{
    display:flex;
    justify-content:center;
    word-break: 22em;
    
  
}
.nav li{
    list-style: none;
    padding:24px;
    display: flex;
    font-size: 20px;
    
    
}
.nav li a{
    color: aliceblue;
    text-decoration: none;
  
}
.nav li h2{
    padding-right: 25em;
    font-weight:bolder;
}
header{
    position: sticky;
    top:0px;
}
main{
margin: 5px;
}

.boxes{
    
    display:flex;
    justify-content: space-around;
    height:750px;
   
    font-size: 2em;
 
}

.box1{
    
    width:35vw;
    height:45vh;
    font-size: 2rem;

}

.box2{
    
    background-image: url("img2.1.jpg");
    background-repeat: no-repeat;
    background-position:left 35% bottom 45% ;
    border: 2px solid rgb(9, 82, 79);
    border-radius: 8px;
    width:35vw;
    height:45vh;
    box-shadow: 0px 0px 20px rgb(9, 82, 79);
   display: flex;
   align-items: center;
   justify-content: center;


}
img{
    
    border: 2px solid black;
    border-radius: 25px ;
    margin-top: 5px;  
}
span{
    
    position: fixed;
    right:0px;
}
h2{
    
    position: relative;
    align-self: center;
   
}
.Topics li{
   display: block;
   font-size: 16px;
}

.intro{
font-size: 2rem;
text-align: center;
margin: 20px;

}
.login2{
border-radius: 24px;
background-color: rgba(255, 0, 0, 0.792);
font-size: 30px;
font-weight: 700;
cursor: pointer;

}

/* Media query for small screens (e.g., mobile devices) */
@media (max-width: 767px) {
    .body{
        background-image: url('img2.1.jpg');
        overflow: scroll;
        overflow-x: hidden;
        background-color: transparent;
        background-size: contain;
    }
    .nav li {
      font-size: 16px;
      padding: 16px;
    }
  
    .nav li h2 {
      padding-right: 10px;
    }
  
    .boxes {

      flex-direction: column-reverse;
      height: auto;
    justify-content: center;
    
    }
  
    .box1,
    .box2 {
      width: 70%;
      height: 38vw;
      font-size: 1.5rem;
      align-self: center;
    }
  
    .intro {
      font-size: 1.5rem;
      margin: 10px;
    }
  
    img {
      width: 40px;
      height: 40px;
    }
  .box2{
    background-size: cover;
  }
    .login2 {
      font-size: 24px;
    }
  }
  
  /* Media query for medium screens (e.g., tablets) */
  @media (min-width: 768px) and (max-width: 991px) {
    .nav li {
      font-size: 18px;
      padding: 20px;
    }
    .body{
        background-image: url('img2.1.jpg');
        overflow: scroll;
        overflow-x: hidden;
        background-color: transparent;
        background-size: contain;
    }
  
    .nav li h2 {
      padding-right: 15px;
    }
  
    .boxes {
      height: 600px;
    }
  
    .box1,
    .box2 {
      width: 45%;
      height: 50%;
      font-size: 1.6rem;
    }
  
    .intro {
      font-size: 1.8rem;
      margin: 15px;
    }
  
    img {
      /* width: 60px;
      height: 80px; */
      display: none;
    }
  
    .login2 {
      font-size: 26px;
    }
  }
  /* Media query for small screens (e.g., mobile devices) */
